<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aboutus</title>
    <link rel="stylesheet" href="/css/aboutus.css">
</head>
<body>
    <div class="wrapper">
        <h2>About us</h2>
        <hr>
        <div class="members">
            <div class="team-mem">
                <img src="https://scontent.fsgn2-8.fna.fbcdn.net/v/t39.30808-6/313022451_1273273710104336_6875709747829067850_n.jpg?_nc_cat=102&ccb=1-7&_nc_sid=5f2048&_nc_eui2=AeEznCh2UaaOPK4xlK4JtOLAyuECVquqN2HK4QJWq6o3Ye1_jAwM9td1LhjwB4_Zm0aF2_75VaCGUWlOGTj1pSOp&_nc_ohc=YpDaBv5ZkPgAb7pkHQb&_nc_ht=scontent.fsgn2-8.fna&oh=00_AfAUIRYTrWNAWzzLivmR1I9_rjfp8qbgqv946_pe7nULJw&oe=66359952">
                <h4 class="mr">Mr.Khoi</h4>
                <p class="major">Back end and manager</p>
            </div>
            <div class="team-mem">
                <img src="https://scontent.fsgn2-11.fna.fbcdn.net/v/t39.30808-6/357465007_966412927945837_1864800245397670222_n.jpg?_nc_cat=105&ccb=1-7&_nc_sid=5f2048&_nc_eui2=AeGQVoZU3sBCYBpmBla6De4JYuu9TuIbe3di671O4ht7dwSyhUSnNNnb6mnAP7S90mcu1i24Ujxe7bOZx5-4gqGM&_nc_ohc=53_tLS5r38cQ7kNvgFygv-g&_nc_ht=scontent.fsgn2-11.fna&oh=00_AfCIWcI7Ei5oUbE-FnHgr1DKCzLz-_afNiwsZ_0AxlCeuw&oe=6636D14B">
                <h4 class="mr">Mr. Quan</h4>
                <p class="major">Back end</p>
            </div>
            <div class="team-mem">
                <img src="https://scontent.fsgn2-7.fna.fbcdn.net/v/t39.30808-6/376916713_1754877961694648_5449485986700317830_n.jpg?stp=dst-jpg_p526x296&_nc_cat=108&ccb=1-7&_nc_sid=5f2048&_nc_eui2=AeEkj5m5FHL6mrzF2haeDxolPdgwAJ2Qu3k92DAAnZC7eczOKzQc5sC2kZp231V1kM3DNZWAqtwesNy5Hq6_sOkO&_nc_ohc=I9nZ-o-A1dwQ7kNvgElLqWV&_nc_oc=AdjH3uX_ES7i24RHCPCE-RryALEEYqsTEpOmcOxrlKN0UOznsy_vTmvzQaXVTHE_kGlqgWg16aP1hCDX7ovXbsT3&_nc_ht=scontent.fsgn2-7.fna&oh=00_AfCPIgdfc-IQqApEmbtMwECsZi7QYHxj_gpLeJU7Gj705A&oe=663582BF">
                <h4 class="mr">Mr. Khang<h4>
                <p class="major">Front end</p>
            </div>
            <div class="team-mem">
                <img src="https://scontent.fsgn2-8.fna.fbcdn.net/v/t39.30808-6/342193554_614427850580541_8647709437436853663_n.jpg?_nc_cat=102&ccb=1-7&_nc_sid=5f2048&_nc_eui2=AeHdVygc4SpVYOEPXbTPmq7zyXPsifwk4nHJc-yJ_CTicVFUMyRt8QKKLEmmvP-bWEGTODNSWxI1ByPp8HRvcEte&_nc_ohc=isQxC6bR1S8Ab447Sz2&_nc_ht=scontent.fsgn2-8.fna&oh=00_AfB4wz1kqXt6VnAg36i1UgkBfl8mqCsFV1c1rLeWR-yO9w&oe=6636EF58">
                <h4 class="mr">Mr. Hung </h4>
                <p class="major">Front end</p>
            </div>
            <div class="team-mem">
                <img src="https://scontent.fsgn2-8.fna.fbcdn.net/v/t39.30808-6/342193554_614427850580541_8647709437436853663_n.jpg?_nc_cat=102&ccb=1-7&_nc_sid=5f2048&_nc_eui2=AeHdVygc4SpVYOEPXbTPmq7zyXPsifwk4nHJc-yJ_CTicVFUMyRt8QKKLEmmvP-bWEGTODNSWxI1ByPp8HRvcEte&_nc_ohc=isQxC6bR1S8Ab447Sz2&_nc_ht=scontent.fsgn2-8.fna&oh=00_AfB4wz1kqXt6VnAg36i1UgkBfl8mqCsFV1c1rLeWR-yO9w&oe=6636EF58">
                <h4 class="mr">Mr. Nhat</h4>
                <p class="major">Back end</p>
            </div>
        </div>
    </div> 
</body>

</html>