<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cart</title>
    <link rel="stylesheet" href="/css/cart.css">
</head>
<body>
    <section id="header">
        <h1><a href="#">ShopMee</a></h1>
        <div>
            <ul id="navbar">
                <li><a class="active" href="home_page.html">Home</a></li>
                <li><a href="aboutus.html">About us</a></li>
                <li><a href="contact.html">Contact</a></li>
                <li><a href="FAQS.html">FAQS</a></li>
                <li><a href="#">My Account</a></li>
            </ul>
        </div>
        
    </section>

    <section id="cart" class="section-p1">
        <table width="100%">
            <thead>
                <tr>
                    
                    <td>Image</td>
                    <td>Product</td>
                    <td>Price</td>
                    <td>Quality</td>
                    <td>Subtotal</td>
                </tr>
            </thead>
            <tbody>
               <tr>
                    <td><img src="https://m.en.shop-t1.gg/web/product/big/202305/7c4c36c19964b66aed29f99e8ef2c477.jpg" alt=""></td>
                    <td>T1 MSI Uniform Jersey</td>
                    <td>$100</td>
                    <td><input type="number" value="1"></td>
                    <td>$100</td>
               </tr> 
               <tr>
                    <td><img src="https://cafe24img.poxo.com/goalstudio/24SS/official/T1/detail/DP4AUF002BK1.jpg" alt=""></td>
                    <td>T1 Uniform Jersey 2024</td>
                    <td>$110</td>
                    <td><input type="number" value="1"></td>
                    <td>$110</td>
                </tr> 
                <tr>
                    <td><img src="https://shop-t1-na.gg/cdn/shop/files/zeus-230919_0424___cropped_800x.jpg?v=1699384684" alt=""></td>
                    <td>T1 Uniform Jersey World</td>
                    <td>$98</td>
                    <td><input type="number" value="1"></td>
                    <td>$98</td>
                </tr> 

            </tbody>
        </table>
    </section>

    <section id="cart-add" class="section-p1">
        <div id="coupon">
            <h3>Apply Coupon</h3>
            <div>
                <input type="text" placeholder="Enter your Coupon">
                <button class="normal">Apply</button>
            </div>
        </div>

        <div id="subtotal">
            <h3>Cart Totals</h3>
            <table>
                <tr>
                    <td>Cart Subtotal</td>
                    <td>$318</td>
                </tr>
                <tr>
                    <td>Shipping</td>
                    <td>Free</td>

                </tr>
                <tr>
                    <td><strong>Total</strong></td>
                    <td><strong>$318</strong></td>
                </tr>
            </table>
            <button class="normal">
                Payment orders
            </button>
        </div>

    </section>

</body>
</html>