<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FAQS</title>
    <link rel="stylesheet" href="/css/FAQS.css">

</head>
<body>
    <section>
        <h2 class="title">FAQs</h2>

        <div class="faq">
            <div class="question">
                <h3>What is ShopMee ?</h3>

                <svg width="15" height="10" viewBox="0 0 42 25">
                    <path 
                        d="M3 3L21 21L39 3" 
                        stroke="white" 
                        stroke-width="7" 
                        stroke-linecap="round"
                    />
                </svg>

            </div>
            <div class="answer">
                <p>
                    ShopMee is a leading e-commerce platform that provides customers with a comprehensive online shopping experience. We offer a variety of fashion items that keep up with current trends
                </p>
            </div>
        </div>


        <div class="faq">
            <div class="question">
                <h3>What products does ShopMee sell ? </h3>

                <svg width="15" height="10" viewBox="0 0 42 25">
                    <path 
                        d="M3 3L21 21L39 3" 
                        stroke="white" 
                        stroke-width="7" 
                        stroke-linecap="round"
                    />
                </svg>

            </div>
            <div class="answer">
                <p>
                    With the desire to bring a comprehensive online shopping experience to consumers, ShopMee has a very diverse product catalog. On the ShopMee e-commerce platform, you can easily find and buy items in the fields of beauty and fashion from affordable to high-end.
                </p>
            </div>
        </div>

        <div class="faq">
            <div class="question">
                <h3>Our target </h3>

                <svg width="15" height="10" viewBox="0 0 42 25">
                    <path 
                        d="M3 3L21 21L39 3" 
                        stroke="white" 
                        stroke-width="7" 
                        stroke-linecap="round"
                    />
                </svg>

            </div>
            <div class="answer">
                <p>
                    ShopMee wants to contribute to making the world a better place with the power of technology by connecting the community of buyers and sellers.
                </p>
            </div>
        </div>
    </section>
    <script src="../js/FAQS.js"></script>
</body>
</html>