<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/mainpage.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <title>mainpage</title>
</head>
<body>
    <section id="header">
        <h1><a href="#">ShopMee</a></h1>
        <div>
            <ul id="navbar">
                <li><a class="active" href="home_page.html">Home</a></li>
                <li><a href="/aboutus">About us</a></li>
                <li><a href="contact.html">Contact</a></li>
                <li><a href="FAQS.html">FAQS</a></li>
                <li><a href="myaccount.html">My Account</a></li>
            </ul>
        </div>
        <div class="search-bar">
            <input type="text" placeholder="Search..">
            <button type="submit"><i class="fa fa-search"></i></button>
        </div>

        <div class="username">
            <li id="user_name"><a href="/login" id="login" class="hid">Log in</a></li>

        </div>
    </section>


    <section id="banner">
        <img class="item" src="https://intphcm.com/data/upload/banner-thoi-trang-nam.jpg" alt="">
    </section>


    <section id="product1" class="section-p1">
        <h3>Store</h3>
        <p>Summer Collection</p>
        <div class="pro-container">
            <div class="pro">
                <img src="https://media.licdn.com/dms/image/C560BAQHLGELx5nPCgA/company-logo_200_200/0/1675649721144/goalstudio_logo?e=2147483647&v=beta&t=OUH12h0UqWoUk-6izE2uOF8hpGpl3doGG341r5knTQ8" alt="">
                <div class="des">
                    <span></span>
                    <h5>Goal Studio</h5>
                    <br>
                    <p class="MT">Goal Studio specializes in providing comfortable and trendy sports t-shirts</p>
                </div>
                
            </div>

            <div class="pro">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS6nDNU9Zm9wihI6aKptGI1g9q_Cgd98BX8YWjYaTpdhw&s" alt="">
                <div class="des">
                    <span></span>
                    <h5>Adidas</h5>
                    <br>
                    <p class="MT">We specialize in providing eye-catching sports shoes and keeping up with everyone's trends</p>
                </div>
                
            </div>

            <div class="pro">
                <img src="https://cdn.oneesports.vn/cdn-data/wp-content/uploads/sites/4/2020/06/valorant-t1-copy.jpg" alt="">
                <div class="des">
                    <span></span>
                    <h5>T1</h5>
                    <br>
                    <p class="MT">We were founded in 2003. With more than 10 years of experience, we can bring quality and suitable t-shirts to users.</p>

                </div>
                
            </div>

            <div class="pro">
                <img src="https://inkythuatso.com/uploads/images/2021/12/logo-lining-inkythuatso-21-14-56-33.jpg" alt="">
                <div class="des">
                    <span></span>
                    <h5>Lining</h5>
                    <br>
                    <p class="MT">Li-Ning sports fashion products are designed based on the most advanced technology in terms of techniques and materials. With constant innovation and high criteria for safety, fashion, aesthetics, convenience and reasonable price</p>
                </div>
                
            </div>

        </div>
    </section>

    <section id="product2" class="section-p1">
        <h3>New Products</h3>
        <div class="pro-container">
            <div class="pro">
                <img src="img/f5.jpg" alt="">
                <div class="des">
                    <span>adidas</span>
                    <h5>T-shirts</h5>
                    <div class="star">
                        <i class="fa fa-star"></i>
                    </div>
                    <h4>$78</h4>
                </div>
                <a href="#"><i class="fa fa-shopping-cart cart"></i></a>
            </div>

            <div class="pro">
                <img src="img/f6.jpg" alt="">
                <div class="des">
                    <span>adidas</span>
                    <h5>T-shirts</h5>
                    <div class="star">
                        <i class="fa fa-star"></i>
                    </div>
                    <h4>$78</h4>
                </div>
                <a href="#"><i class="fa fa-shopping-cart cart"></i></a>
            </div>

            <div class="pro">
                <img src="img/f7.jpg" alt="">
                <div class="des">
                    <span>adidas</span>
                    <h5>T-shirts</h5>
                    <div class="star">
                        <i class="fa fa-star"></i>
                    </div>
                    <h4>$78</h4>
                </div>
                <a href="#"><i class="fa fa-shopping-cart cart"></i></a>
            </div>

            <div class="pro">
                <img src="img/f8.jpg" alt="">
                <div class="des">
                    <span>adidas</span>
                    <h5>T-shirts</h5>
                    <div class="star">
                        <i class="fa fa-star"></i>
                    </div>
                    <h4>$78</h4>
                </div>
                <a href="#"><i class="fa fa-shopping-cart cart"></i></a>
            </div>
    </section>

      
</body>
</html>