<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/store1.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <title>Store Owner</title>
</head>
<body>
    <section id="header">
        <h1><a href="#">ShopMee</a></h1>
        <div>
            <ul id="navbar">
                <li><a class="active" href="home_page.html">Home</a></li>
                <li><a href="aboutus.html">About us</a></li>
                <li><a href="contact.html">Contact</a></li>
                <li><a href="FAQS.html">FAQS</a></li>
            </ul>
        </div>
        <div class="search-bar">
            <input type="text" placeholder="Search..">
            <button type="submit"><i class="fa fa-search"></i></button>
        </div>

        <div class="username">
            <li id="user_name"><a href="#" id="login" class="hid">Log in | Sign up</a></li>

        </div>
    </section>

    <section id="sub-header">
        <a href="#"><img src="img/logo (1).png" class="logo" alt=""></a>
        <div>
            <ul id="subnavbar">
                <li><a class="active" href="home_page.html">Home</a></li>
                <li><a href="shop.html">Shop</a></li>
                <li><a href="cart.html"><i class="fa fa-shopping-bag"></i></a></li>
            </ul>
        </div>
    </section>

    <section id="banner">
        <h4>Trade-in-offer</h4>
        <h3>Super value deals</h3>
        <h2>On all products</h2>
        <p>Save more with coipons & up to 70% off!</p>
        <button>Shop Now</button>
    </section>

    <section id="feature" class="section-p1">
        <div class="fe-box">
            <img src="img/f1.jpg" alt="">
            <h6>Shirts</h6>
        </div>

        <div class="fe-box">
            <img src="img/f5.jpg" alt="">
            <h6>Male</h6>
        </div>

        <div class="fe-box">
            <img src="img/f8.jpg" alt="">
            <h6>Female</h6>
        </div>

        <div class="fe-box">
            <img src="img/f7.jpg" alt="">
            <h6>Pants</h6>
        </div>

        <div class="fe-box">
            <img src="img/f6.jpg" alt="">
            <h6>T-Shirts</h6>
        </div>

        <div class="fe-box">
            <img src="img/f3.jpg" alt="">
            <h6>Unisex</h6>
        </div>
    </section>

    <section id="product1" class="section-p1">
        <h3>Featured Products</h3>
        <p>Summer Collection</p>
        <div class="pro-container">
            <div class="pro">
                <img src="img/f1.jpg" alt="">
                <div class="des">
                    <span>adidas</span>
                    <h5>T-shirts</h5>
                    <div class="star">
                        <i class="fa fa-star"></i>
                    </div>
                    <h4>$78</h4>
                </div>
                <a href="#"><i class="fa fa-shopping-cart cart"></i></a>
            </div>

            <div class="pro">
                <img src="img/f2.jpg" alt="">
                <div class="des">
                    <span>adidas</span>
                    <h5>T-shirts</h5>
                    <div class="star">
                        <i class="fa fa-star"></i>
                    </div>
                    <h4>$78</h4>
                </div>
                <a href="#"><i class="fa fa-shopping-cart cart"></i></a>
            </div>

            <div class="pro">
                <img src="img/f3.jpg" alt="">
                <div class="des">
                    <span>adidas</span>
                    <h5>T-shirts</h5>
                    <div class="star">
                        <i class="fa fa-star"></i>
                    </div>
                    <h4>$78</h4>
                </div>
                <a href="#"><i class="fa fa-shopping-cart cart"></i></a>
            </div>

            <div class="pro">
                <img src="img/f4.jpg" alt="">
                <div class="des">
                    <span>adidas</span>
                    <h5>T-shirts</h5>
                    <div class="star">
                        <i class="fa fa-star"></i>
                    </div>
                    <h4>$78</h4>
                </div>
                <a href="#"><i class="fa fa-shopping-cart cart"></i></a>
            </div>

        </div>
    </section>

    <section id="product2" class="section-p1">
        <h3>New Products</h3>
        <div class="pro-container">
            <div class="pro">
                <img src="img/f5.jpg" alt="">
                <div class="des">
                    <span>adidas</span>
                    <h5>T-shirts</h5>
                    <div class="star">
                        <i class="fa fa-star"></i>
                    </div>
                    <h4>$78</h4>
                </div>
                <a href="#"><i class="fa fa-shopping-cart cart"></i></a>
            </div>

            <div class="pro">
                <img src="img/f6.jpg" alt="">
                <div class="des">
                    <span>adidas</span>
                    <h5>T-shirts</h5>
                    <div class="star">
                        <i class="fa fa-star"></i>
                    </div>
                    <h4>$78</h4>
                </div>
                <a href="#"><i class="fa fa-shopping-cart cart"></i></a>
            </div>

            <div class="pro">
                <img src="img/f7.jpg" alt="">
                <div class="des">
                    <span>adidas</span>
                    <h5>T-shirts</h5>
                    <div class="star">
                        <i class="fa fa-star"></i>
                    </div>
                    <h4>$78</h4>
                </div>
                <a href="#"><i class="fa fa-shopping-cart cart"></i></a>
            </div>

            <div class="pro">
                <img src="img/f8.jpg" alt="">
                <div class="des">
                    <span>adidas</span>
                    <h5>T-shirts</h5>
                    <div class="star">
                        <i class="fa fa-star"></i>
                    </div>
                    <h4>$78</h4>
                </div>
                <a href="#"><i class="fa fa-shopping-cart cart"></i></a>
            </div>
    </section>

      
</body>
</html>